<h2>current and past affiliations</h2>

<!-- <div class="projects grid">

    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/msft_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/drdo_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/cronycle_logo.svg" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/gsoc_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/supedio_logo.png" class="card">
        </div>
    </div>
</div> -->

<div class="flex-container">
    <div class="row">
        <img src="assets/img/msft_logo.png" class="flex-item">
        <img src="assets/img/supedio_logo.png" class="flex-item">
        <img src="assets/img/drdo_logo.png" class="flex-item">
        <img src="assets/img/cmi.png" class="flex-item">
        <img src="assets/img/cronycle_logo.svg" class="flex-item">
        <img src="assets/img/gsoc_logo.png" class="flex-item">

    </div>
</div>