<h2>Current and Past Affiliations</h2>

<div class="affiliations">
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/stanford_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/msft_logo.png" class="card">
        </div>
    </div>

    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/supedio_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/Arkifi-Logo-RGB.svg" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/cronycle_logo.svg" class="card">
        </div>
    </div>
    <div class="grid-item">

        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/gsoc_logo.png" class="card">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/drdo_logo.png" class="card" style="width: 100px;">
        </div>
    </div>
    <div class="grid-item">
        <div class="row ml-1 mr-1 p-0">
            <img src="assets/img/cic-du.png" class="card">
        </div>
    </div>
</div>